nav {
    padding: 10px;
    border-bottom: 1px solid #fff;
    margin-bottom: 12px;
    font-size: 20px;
}


.home-container {
    padding:10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 5px;
}

.post {
    border: 1px solid #fff;
    
}
.post>img {
    width: 100%;
}
.post>p,
.post>h3 {
    padding: 6px;
}
.post>p {
    fontsize: 20px; ;
    margin:5px;
}
.post>h3 {
    font-size:15px;
    margin: 6px;
}


.details-container {
    padding: 6px;
}
.details-container>h2 {
    font-size: 5px;
}
.details-container>img {
    width: 200px;
    margin:6px;
    border-radius: 6px;
}
.details-container>h3 {
    font-size: 10px;
    margin: 10px;
}
.details-container>p {
    font-size: 10px;
}

